.card {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card__title {
  margin-top: 0;
  font-size: 20px;
}

.card__header {
    display: flex;
    align-items: center;
}