.task-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  flex: 1;
}  

.add-btn {
  background: #0f6079;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-btn:hover {
  transform: scale(1.05); 
  background-color: #043544; 
}

.task-form {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}
