/* =========================
 MOBILE / TABLET
========================= */
@media (max-width: 600px) {
  .task-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .task-input {
    width: 100%;
  }

  .add-btn {
    width: 100%;
  }

  .card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
  }

  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-left: 0;
  }
}

/*=========================
DESKTOP
========================= */
@media (min-width: 601px) {
  .card__header {
    display: flex;
    align-items: center;
  }

  .controls {
    display: flex;
    gap: 22px;
    margin-left: auto;
  }
}
